### LaTeX ###
# ignore all the files created by Latex in this folder and the sub folders

*.aux
*.bbl
*.blg
*.bcf
*.dvi
*.log
*.toc
*.tps
*.run.xml
*.fdb_latexmk
*.fls
*.lof
*.lot
*.asc

*.bib.bak
*.bib.sav

*/Latex/*.pdf
*.out

# TexMaker files
*.synctex.gz

# Matlab
*.asv
*.m~

# Soundfiles
*.wav
*.mp3